# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Kid racing cars.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\akbar\Documents\unity projects\Kid racing cars\.idea\.idea.Kid racing cars\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
